[submodule "susieR"]
	path = submodules/susieR
	url = https://github.com/gaow/susieR
[submodule "mr.ash.alpha"]
	path = submodules/mr.ash.alpha
	url = https://github.com/stephenslab/mr.ash.alpha
[submodule "submodules/VEB.Boost"]
	path = submodules/VEB.Boost
	url = https://github.com/stephenslab/VEB.Boost.git
